extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Using interpolation to load content directly from the supplied locals 
        h1 #{project.project_name}

        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          //- Using the each syntax to iterate through the technologies assocaited with each project
          each el in project.technologies 
            li= el

        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box
      //- Similar use of the each syntax for displaying the images associated with each project
      each el in project.image_urls 
        img.project-img(src=`${el}`)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
